/* header */
header {
  width: 100%;
  height: 70px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: var(--color-static);
  backdrop-filter: blur(2px);
  z-index: 1000;
}

header > div {
  width: 100%;
  max-width: 1400px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header > div > div {
  width: 100px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

header > div > div > img {
  width: auto;
  height: 30px;
  margin: 0 0 0 12px;
  border-radius: 50%;
  cursor: pointer;
}

header > div > ul {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header > div > ul > li {
  margin: 0 40px;
  transition: all 0.12s;
  cursor: pointer;
}

header > div > svg {
  width: 30px;
  height: 30px;
  fill: var(--color-secondary);
  cursor: pointer;
}

header > div > ul > li > strong {
  white-space: nowrap;
}

header > span {
  width: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: var(--color-dusky);
  backdrop-filter: blur(4px);
  transition: all 0.2s;
  overflow: hidden;
  z-index: 1000;
}

header > span > ul {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  padding: 0 20px;
}

header > span > ul > li {
  width: 100%;
  padding: 16px 0;
  text-align: center;
  border-bottom: 1px solid var(--color-static);
}

/* footer */
footer {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

footer > div {
  width: 100%;
  max-width: 1400px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

footer > div > ul {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer > div > ul > li {
  margin: 0 10px;
  cursor: pointer;
}

footer > div > ul > li > img {
  width: 38px;
  height: auto;
  filter: grayscale(100%);
}

footer > div > div {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 0 20px;
  margin: 10px 0 0 0;
  border-top: 1px solid var(--color-static);
  text-align: center;
}

/* nav */
nav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(0, -50%);
  animation: Nav 4s ease-in-out infinite;
  z-index: 100;
}

nav > div {
  width: 100%;
  max-width: 1400px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

nav > div > div {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

nav > div > div:hover > svg {
  opacity: 1;
}

nav > div > div:hover > p {
  opacity: 1;
}

nav > div > div > svg {
  width: 32px;
  height: 32px;
  margin: 0 6px 0 0;
  fill: var(--color-secondary);
  transition: all 0.2s;
  opacity: 0.6;
}

nav > div > div > p {
  transition: all 0.2s;
}

@keyframes Nav {
  0%,
  35% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 14px);
  }
  65%,
  100% {
    transform: translate(-50%, 0);
  }
}
